<header class="gen-padding">
  <a href="/">
    <h1>SocialSphere</h1>
  </a>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/profile">Profile</a>
    <%if(locals.isLoggedIn){%>
    <a href="/logout">Logout</a>
    <%}else{%>
    <a href="/login">Login</a>
    <%}%>
  </nav>
</header>
