<header class="gen-padding">
  <a href="/">
    <h1>SocialSphere</h1>
  </a>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/profile">Profile</a>
    <a href="/login">Login</a>
    <!-- <a href="/signup">Signup</a> -->
  </nav>
</header>
