<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <%- include('_header') %>
    <main>
      <h1>About Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        optio blanditiis explicabo aut, facilis eaque repellat culpa atque
        deleniti minus similique praesentium rerum dolorem. Expedita ut ab
        possimus qui doloribus distinctio saepe? Assumenda, nam illo? Iure, unde
        officiis. Voluptate quia nobis dolor illo vitae sed. Magnam iste quidem
        dolor aliquam nostrum cupiditate, perspiciatis temporibus dolorem libero
        explicabo impedit perferendis eum delectus voluptatem repellat. Quo,
        cupiditate saepe! Facilis molestiae, dolores at vitae laborum beatae. At
        veniam natus in! Aliquid harum, illum in libero debitis quo voluptatibus
        eos esse quas error velit, facere quod voluptas quidem. Commodi tempora
        saepe officia consequuntur repellat.
      </p>
    </main>
    <%- include('_footer') %>
  </body>
</html>
