<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body style="background-image: url('/notfound.jpg')">
    <%- include('_header') %>
    <main>
      <div class="error-message">
        <h1>Oops!! Something Went Wrong</h1>
        <h3><%=errorMessage%></h3>
      </div>
    </main>
    <%- include('_footer') %>
  </body>
</html>
