<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socialsphere</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <%- include('_header') %>
    <main>
      <h1>Welcome to SocialSphere</h1>
      <section class="newpost glass">
        <form class="new-post" action="/create-post" method="post">
          <textarea name="newpost" id="newpost" rows="4"></textarea>
          <div>
            <input type="file" name="postimage" id="postimage" />
            <input type="submit" class="btn" value="Create New Post" />
          </div>
        </form>
      </section>
      <section class="posts glass">
        <div class="post">
          <h2>Albert</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
            aspernatur perferendis neque quidem earum, porro fugit in est
            temporibus maiores non aliquam aperiam. Voluptatibus dolorum sequi
            harum accusamus! Deleniti, dolorum.
          </p>
          <p>0Likes 2comments 12:00 15/11/2023</p>
        </div>
        <div class="post">
          <h2>Albert</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
            aspernatur perferendis neque quidem earum, porro fugit in est
            temporibus maiores non aliquam aperiam. Voluptatibus dolorum sequi
            harum accusamus! Deleniti, dolorum.
          </p>
          <p>0Likes 2comments 12:00 15/11/2023</p>
        </div>
        <div class="post">
          <h2>Albert</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
            aspernatur perferendis neque quidem earum, porro fugit in est
            temporibus maiores non aliquam aperiam. Voluptatibus dolorum sequi
            harum accusamus! Deleniti, dolorum.
          </p>
          <p>0Likes 2comments 12:00 15/11/2023</p>
        </div>
        <div class="post">
          <h2>Albert</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
            aspernatur perferendis neque quidem earum, porro fugit in est
            temporibus maiores non aliquam aperiam. Voluptatibus dolorum sequi
            harum accusamus! Deleniti, dolorum.
          </p>
          <p>0Likes 2comments 12:00 15/11/2023</p>
        </div>
        <div class="post">
          <h2>Albert</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
            aspernatur perferendis neque quidem earum, porro fugit in est
            temporibus maiores non aliquam aperiam. Voluptatibus dolorum sequi
            harum accusamus! Deleniti, dolorum.
          </p>
          <p>0Likes 2comments 12:00 15/11/2023</p>
        </div>
        <div class="post">
          <h2>Albert</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
            aspernatur perferendis neque quidem earum, porro fugit in est
            temporibus maiores non aliquam aperiam. Voluptatibus dolorum sequi
            harum accusamus! Deleniti, dolorum.
          </p>
          <p>0Likes 2comments 12:00 15/11/2023</p>
        </div>
      </section>
    </main>
    <%- include('_footer') %>
  </body>
</html>
