<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Page</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="backdrop">
      <%- include('_header') %>
      <main>
        <h1>Log In Page</h1>
        <form action="/login" class="glass" method="post">

          <%if(locals.creationSuccess){%>
          <p style="color: darkgreen">
            Account Succefully Created!! You can now Log in.
          </p>
          <%}%> 

          <% if(locals.loginError){%>
          <p style="color: orangered"><%=loginError%></p>
          <%}%>
          
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="input-group">
            <input type="submit" class="btn" value="Log In" />
          </div>
          <p>
            New Here?
            <a href="/signup" style="text-decoration: underline">Sign Up</a>
          </p>
        </form>
      </main>
      <%- include('_footer') %>
    </div>
  </body>
</html>
