.profile-container {
  text-align: center;
}
.profile-image {
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 15px;
}

.profile-image img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 16px;
}

.username {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  font-size: 0.9em;

  margin-bottom: 15px;
}
.info p {
  margin-bottom: 20px;
}
